.ipynb_checkpoints/Python Introduction-checkpoint.ipynb
SQL/.ipynb_checkpoints/SQL Intro_class_05_2020-checkpoint.ipynb
NoSQL/.ipynb_checkpoints/MongoDB_Create_Read_Update_Delete_class_05_20-checkpoint.ipynb
NoSQL/.ipynb_checkpoints/NoSQL databases Intro - Redis - 2020-checkpoint.ipynb
Pandas/.ipynb_checkpoints/Pandas_Downloading_Data-checkpoint.ipynb
SQL/.ipynb_checkpoints/SQL Intro_class_20.05.2020-checkpoint.ipynb
WebScraping/allRiga.xlsx
WebScraping/imanta.xlsx
WebScraping/maskavas_pardod.xlsx
WebScraping/maskavas-priekshpilseta.xlsx
WebScraping/.ipynb_checkpoints/Apartments_27_05-checkpoint.ipynb
Machine_Learning_intro_scikit-learn/mymodel.pickle
Machine_Learning_intro_scikit-learn/treemodel.pickle
scikit-learn/.ipynb_checkpoints/plot_cluster_iris_in_class_05_2020-checkpoint.ipynb
Machine_Learning_intro_scikit-learn/.ipynb_checkpoints/ML Model Persistance-checkpoint.ipynb
scikit-learn/.ipynb_checkpoints/plot_ols_in_class_05.2020-checkpoint.ipynb
FoliumGeoLibrary/Colormaps_0.html
FoliumGeoLibrary/Polyline_text_path.html
FoliumGeoLibrary/.ipynb_checkpoints/FOLIUM_in_class_05_2020-checkpoint.ipynb
